// Fuentes
@use "./partials/base/fonts";

// Base
@use "./partials/base/reset";
@use "./partials/base/tipografia";
@use "./partials/base/bg-body";


// Componentes
@use "./partials/components/nav";
@use "./partials/components/contenido-home";
@use "./partials/components/contenido-archivos";
@use "./partials/components/contenido-patrones";
@use "./partials/components/contenido-expedientes";
@use "./partials/components/contenido-investigacion";


//Fotter
@use "./partials/base/fotter";

