//Fuentes

@use "./partials/base/fonts";

// Variables

@use "./partials/utilities/variables";
@use "./partials/utilities/mixins";
@use "./partials/utilities/extend";


//Base

@use "./partials/base/reset";
@use "./partials/base/tipografia";
@use "./partials/base/bg-body";
@use "./partials/base/fotter";


//Componentes

@use "./partials/components/nav";
@use "./partials/components/contenido-home"

