/*Estilos Base Globales*/

@use "./partials/base/reset";
@use "./partials/base/tipografia";
@use "./partials/base/bg-body";
@use "./partials/components/nav";
@use "./partials/components/grid-caracteristicas";
@use "./partials/components/tabla-archivos"
