@use "../utilities/variables";
@use "../utilities/mixins";

/* Estilos pagina Investigacion */

.p5 {
    @include mixins.text-style(2.4rem, variables.$color-p, 1.6);
    text-align: justify;
    margin: variables.$spacing-medium auto;
    width: 170rem;
}

.sub2 {
    @include mixins.text-style(3.2rem, variables.$color-h2);
    background: variables.$bg-h2;
    border-bottom: 1px solid #8b4513;
    @include mixins.border-radius(variables.$radius-medium);
    padding: variables.$spacing-small;
    margin: variables.$spacing-medium auto;
    width: 50rem;
    text-align: center;
    text-transform: capitalize;
}

