.seccion-comparacion h2{
    font-size: 3.2rem;
    color: #cd7f32;
    background: rgba(26, 26, 46, 0.9);
    border-bottom: 1px solid #8b4513;
    border-radius: 2rem;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    text-align: center;
    text-transform: capitalize; /* Capitalizar la primera letra de cada palabra */
}

.seccion-comparacion h3 {
    font-size: 2.8rem;
    color: #8a8a8a;
    background: rgba(26, 26, 46, 0.9);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    text-align: center;
    max-width: fit-content;
}

.seccion-comparacion p {
    font-size: 2rem;
    color: #e8e8e8;
    line-height: 1.6;
    text-align: justify;
    margin: 1rem 3rem 3rem;
}