@use "../../utilities/variables";

/*Estilos pagina Investigacion*/

.p5{
    font-size: 2.4rem;
    color: variables.$color-p;
    line-height: 1.6;
    text-align: justify;
    margin: 2rem auto;
    width: 170rem;
}

.sub2{
    font-size: 3.2rem;
    color: variables.$color-h2;
    background: variables.$bg-h2-color;
    border-bottom: 1px solid #8b4513;
    border-radius: 2rem;
    padding: 1rem;
    margin: 2rem auto 2rem auto;
    width: 50rem;
    text-align: center;
    text-transform: capitalize; /* Capitalizar la primera letra de cada palabra */
}