@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extend";

/* Estilos de la barra de navegación */

.nav-bg {
    background-color: variables.$nav-bg;
    @include mixins.box-shadow(variables.$nav-shadow);
    @include mixins.border-radius(variables.$radius-medium);
    padding: variables.$spacing-small variables.$spacing-medium;
    margin: 0 auto;

    a {
        @include mixins.nav-link-base(variables.$nav-font, variables.$size-nav-link, variables.$nav-link-color);
    }
}

.links-nav {
    border-bottom: 1px solid transparent;
    @include mixins.transition(border-color);
    @extend %nav-link-base;

    &:hover {
        border-bottom: 1px solid variables.$border-nav;
    }
}

// Clase específica para el brand
.nav-brand-custom {
    @extend %nav-link-base;
}

// Clase para los enlaces de navegación personalizados
.nav-link-custom {
    &.active {
        color: variables.$nav-link-color;
    }
    
    @extend %nav-link-base;
    @extend %nav-flex-center;
}

.nav-ul {
    @include mixins.flex-center(row, center, center);
    width: 100%;
    list-style: none;
    gap: 1rem;

    .nav-li {
        flex: 1;
        text-align: center;
        @extend %nav-flex-center;
    }
}

.icon-nav {
    color: variables.$icon-nav-color;
    @include mixins.icon-size(variables.$icon-nav-size);
    margin-right: variables.$spacing-small;
    vertical-align: middle;
}


