@use "../utilities/variables";

/* Estilos de la barra de navegación */

.nav-bg{
    background-color: variables.$nav-bg-color !important;
    box-shadow: variables.$nav-bg-shadow;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0 auto;
    width: 190rem;
}

.nav-bg a{
    font-family: variables.$nav-font;
    color: variables.$nav-link-color !important;
    font-size: 2.8rem;
    letter-spacing: 0.1rem; /* Espaciado de letras */
    text-decoration: none;
}

.links-nav{
    margin: 0 1.5rem; /* Espaciado entre enlaces */
    padding: 0.5rem 1rem; /* Espaciado interno */
    border-bottom: 1px solid transparent; /* Borde inferior */
    transition: border-color 0.3s; /* Transición suave para el borde */

    &:hover {
        border-bottom: 1px solid #8b0000; /* Cambia el color del borde al pasar el ratón */
    }
}

.nav-ul{
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-ul .nav-li{
    flex: 1;
    text-align: center;
}

.icon-nav {
    color: variables.$icon-nav-color;
    width: 5rem; /* Ancho del icono */
    height: 5rem; /* Altura del icono */
    margin: auto 1rem; /* Espaciado alrededor del icono */
}
