/*Estilos pagina archivos*/

.intro-tabla{
    font-size: variables.$font-intro-tabla;
    color: variables.$color-p;
    line-height: 1.6;
    text-align: justify;
    margin: 2rem auto;
    width: 170rem;
}

/*Estilos tabla archivos*/

.tabla-archivos {
    width: 170rem;
    margin: 2rem auto 6rem auto;
    border-collapse: collapse;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    overflow: hidden;
}

.titulo-tabla{
    font-family: variables.$font-titulo-tabla;
    font-size: variables.$size-titulo-tabla;
    color: variables.$color-titulo-tabla;
    background: rgba(26, 26, 46, 0.9);
    border-bottom: 1px solid #8b4513;
    padding: 1rem;
    margin: 0 auto 2rem auto;
    width: 170rem;
    text-align: center;
    text-transform: capitalize; /* Capitalizar la primera letra de cada palabra */
}

.tabla-archivos th,
.tabla-archivos td {
    font-family: variables.$font-tabla;
    color: variables.$color-p-tabla;
    padding: 1.5rem;
    text-align: center;
    font-size: variables.$size-p-tabla;
}

.tabla-archivos thead {
    background: variables.$bg-thead-tabla;
    color: #cd7f32;
}

.tabla-archivos tbody tr:nth-child(even) {
    background-color: rgba(26, 26, 46, 0.8); 
}

