/* Estilos pagina Patrones de Crimen */

.intro-patrones{
    font-size: 2.4rem;
    color: var(--text-secondary);
    line-height: 1.6;
    text-align: justify;
    margin: 2rem auto;
    width: 170rem;
}

.tabla-patrones {
    width: 170rem;
    margin: 2rem auto 6rem auto;
    border-collapse: collapse;
    box-shadow: 0 4px 12px var(--shadow-color);
    border-radius: 1rem;
    overflow: hidden;
}

.tabla-patrones th,
.tabla-patrones td {
    color: var(--text-primary);
    padding: 1.5rem;
    text-align: center;
    font-size: 2rem;
}

.tabla-patrones thead {
    background: var(--table-header-bg);
    color: var(--table-header-color);
}

.tabla-patrones tbody tr:nth-child(even) { /* Filas pares */
    background-color: var(--table-row-even); 
}

.tabla-patrones tbody tr:nth-child(odd) { /* Filas impares */
    background-color: var(--table-row-odd); 
}

.tabla-patrones tbody tr:hover {
    background-color: var(--table-row-hover); 
}
