@use "../utilities/variables";

/* Estilos pagina Patrones de Crimen */

.intro-patrones{
    font-size: variables.$size-intro-tabla;
    color: variables.$color-p-tabla;
    line-height: 1.6;
    text-align: justify;
    margin: 2rem auto;
    width: 170rem;
}

.tabla-patrones {
    width: 170rem;
    margin: 2rem auto 6rem auto;
    border-collapse: collapse;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    overflow: hidden;
}

.tabla-patrones th,
.tabla-patrones td {
    font-family: variables.$font-tabla;
    color: variables.$color-p-tabla;
    padding: 1.5rem;
    text-align: center;
    font-size: variables.$size-p-tabla;
}

.tabla-patrones thead {
    background: variables.$bg-thead-tabla;
    color: variables.$color-titulo-tabla;
}

.tabla-patrones tbody tr:hover {
    background-color: rgba(139, 0, 0, 0.3); 
}
