@use "../../utilities/variables";

/*Estilo del fondo de la página*/
body {
  background: variables.$bg-body-color;
  background-attachment: fixed; /* Fijo para efecto parallax */
  background-size: cover, 200px 200px, cover; /* Ajuste del tamaño del fondo */
  min-height: 100vh; /* Asegurar que el fondo cubra toda la altura de la ventana */
}
