footer {
    background-color: variables.$nav-bg-color;
    box-shadow: 0 -4px 12px variables.$nav-bg-shadow;
    border-radius: 2rem;
    text-align: center;
    padding: 2rem 1rem;
    margin: 4rem auto 2rem auto;
    width: 150rem;
    border-top: 1px solid rgba(139, 69, 19, 0.8);
}

.footer {
    font-family: variables.$font-p;
    font-size: 2.4rem;
    color: variables.$color-p;
    margin: 0.5rem 0;
}
