@use "../utilities/variables";
@use "../utilities/mixins";

footer {
    background-color: variables.$nav-bg;
    @include mixins.box-shadow(0 -4px 12px variables.$nav-shadow);
    @include mixins.border-radius(variables.$radius-medium);
    text-align: center;
    padding: variables.$spacing-medium variables.$spacing-small;
    margin: 4rem auto variables.$spacing-medium auto;
    width: 150rem;
    border-top: 1px solid rgba(139, 69, 19, 0.8);
}

.footer {
    @include mixins.text-style(2.4rem, variables.$color-p);
    margin: 0.5rem 0;
}