@use "../../utilities/variables" as v;
@use "../../utilities/mixins" as m;

footer {
    background-color: v.$nav-bg;
    @include m.box-shadow(0 -4px 12px v.$nav-shadow);
    @include m.border-radius(v.$radius-medium);
    text-align: center;
    padding: v.$spacing-medium v.$spacing-small;
    margin: 4rem auto v.$spacing-medium auto;
    width: 150rem;
    border-top: 1px solid rgba(139, 69, 19, 0.8);
}

.footer {
    @include m.text-style(2.4rem, v.$color-p);
    margin: 0.5rem 0;
}