@use "../utilities/variables";

/*Estilos de tipografía globales*/

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* Estilos encabezdo h1 */
h1 {
  font-family: variables.$font-h1;
  font-size: 4rem;
  color: variables.$color-h1;
  background: variables.$bg-h1-color;
  box-shadow: variables.$shadow-h1;
  border-radius: 1rem;
  text-align: center;
  padding: 2rem 1rem;
  margin: 2rem 6rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

/* Estilos encabezado h2 */
h2 {
  font-family: variables.$font-h2;
  font-size: 3.2rem;
  color: variables.$color-h2;
  background: variables.$bg-h2-color;
  border-bottom: 1px #8b4513;
  padding: 1rem;
  margin: 2rem 4rem;
  text-align: left;
  text-transform: capitalize; /* Capitalizar la primera letra de cada palabra */
}

/* Estilos encabezado h3 */
h3 {
  font-family: variables.$font-h3;
}

/* Estilos párrafos */
p {
  font-family: variables.$font-p;
}
