@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extend";

/* Estilos de tipografía */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  font-family: variables.$font-h1;
  @include mixins.text-style(variables.$size-h1, variables.$color-h1);
  background: variables.$bg-h1;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  @extend %heading-base;
}

h2 {
  font-family: variables.$font-h2;
  @include mixins.text-style(variables.$size-h2, variables.$color-h2);
  @include mixins.section-bg(variables.$bg-h2, variables.$spacing-small, variables.$spacing-medium 4rem);
  border-bottom: 1px solid variables.$color-border;
  text-transform: capitalize;
}

h3 {
  font-family: variables.$font-h3;
}

p {
  font-family: variables.$font-p;
}

