@use "./variables";
@use "./mixins";

// Extends Tipografia

%heading-base {
  text-align: center;
  padding: variables.$spacing-medium variables.$spacing-small;
  margin: variables.$spacing-medium 6rem;
  @include mixins.border-radius(variables.$radius-small);
}

// Extends para navegación

%nav-link-base {
  @include mixins.nav-link-base(variables.$nav-font, variables.$size-nav-link, variables.$nav-link-color);
  margin: 0 1.5rem;
  padding: 0.5rem variables.$spacing-small;
}

%nav-flex-center {
  @include mixins.inline-flex-center;
}


