@use "../utilities/variables";

// Mixins 

// Mixin para centrar con flexbox 
@mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// Mixin para transiciones suaves
@mixin transition($property: all, $duration: 0.3s, $timing: ease) {
    transition: $property $duration $timing;
}

// Mixin para sombras
@mixin box-shadow($shadow) {
    box-shadow: $shadow;
}

// Mixin para bordes 
@mixin border-radius($radius) {
    border-radius: $radius;
}

// Mixin para texto 
@mixin text-style($size, $color, $line-height: normal) {
    font-size: $size;
    color: $color;
    @if $line-height == normal {
        line-height: $line-height;
    }
}

// Mixin para bg
@mixin section-bg($bg-color, $padding: 2rem, $margin: 2rem auto) {
    background-color: $bg-color;
    padding: $padding;
    margin: $margin;
}

// Mixin para grid 
@mixin grid-layout($columns, $gap: 2rem) {
    display: grid;
    grid-template-columns: $columns;
    gap: $gap;
}

// Mixin para tamaño de icons
@mixin icon-size($width, $height: $width) {
    width: $width;
    height: $height;
}

// Mixin para los enlaces de navegación
@mixin nav-link-base($font, $size, $color) {
    font-family: $font;
    font-size: $size;
    color: $color;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

// Mixin para centrar elementos 
@mixin inline-flex-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

// Mixin para las tarjetas del grid de características
@mixin grid-card-styles {
    background-color: variables.$bg-h2;
    padding: 2rem;
    margin: 2rem auto;
    @include border-radius(variables.$radius-small);
    @include box-shadow(variables.$shadow-card);

    h3 {
        font-family: variables.$font-h3;
        @include text-style(variables.$size-h3, variables.$color-h3);
        text-align: center;
        background: variables.$bg-h2;
        padding: variables.$spacing-small;
        @include border-radius(0.5rem);
        margin-bottom: 1.5rem;
    }

    p {
        font-family: variables.$font-p;
        @include text-style(variables.$size-p-grid, variables.$color-p, 1.6);
        text-align: justify;
    }
}
