/* Error: Selector ":nth-child(even)" can't have a suffix
 *     ,
 * 49  | .tabla-archivos tbody tr:nth-child(even) {
 *     |                         ^^^^^^^^^^^^^^^^ outer selector
 * ... |
 * 52  |     &tbody tr:nth-child(odd) {
 *     |     ====== parent selector
 *     '
 *   scss\partials\components\_tabla-archivos.scss 49:25  @use
 *   scss\main.scss 8:1                                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Selector \":nth-child(even)\" can't have a suffix\a     \2577 \a 49  \2502  .tabla-archivos tbody tr:nth-child(even) {\d\a     \2502                          ^^^^^^^^^^^^^^^^ outer selector\a... \2502 \a 52  \2502      &tbody tr:nth-child(odd) {\d\a     \2502      \2501 \2501 \2501 \2501 \2501 \2501  parent selector\a     \2575 \a   scss\\partials\\components\\_tabla-archivos.scss 49:25  @use\a   scss\\main.scss 8:1                                   root stylesheet";
}
